{
  "extends": "curiosity",
  "rules": {
    "@typescript-eslint/explicit-function-return-type":"off",
    "@typescript-eslint/no-this-alias":"off",
    "@typescript-eslint/camelcase":"off",
    "@typescript-eslint/no-use-before-define":"off",
    "react/state-in-constructor":"off",
    "react/jsx-filename-extension":"off",
    "react/prefer-es6-class":"off",
    "react/sort-comp":"warn",
    "react/prop-types":"off",
    "react/jsx-props-no-spreading":"off",
    "react/react-in-jsx-scope":"off",
    "jsx-a11y/label-has-associated-control":"off",
    "no-continue":"warn",
    "no-empty":"off",
    "new-cap":"off",
    "class-methods-use-this":"off",
    "no-case-declarations":"off",
    "no-restricted-globals":"off",
    "max-len":"off",
    "import/no-cycle":"off",
    "no-plusplus": "warn"
  }
}
