
.app {
  width: 100%;

  .nav {
    height: 40px;
    width: 100%;
    .left {
      margin-left: 10px;
      height: 30px;
      width: 75px;
      .back {
        font-size: 20px;
      }
    }
    .title {
      text-align: center;
      overflow: hidden;
    }

    .right {
      margin-right: 10px;
      width: 75px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 20px;
      .more {
        padding: 0 10px;
        border-right: 1px solid #ccc;
      }
      .close {
        padding: 0 10px;
      }
    }
  }

  .pageFrames {
    position: relative;
    width: 100%;
  }

  .workerFrame {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}
