
* {
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
}

@font-face {
  font-family: 'iconfont';  /* project id 2494042 */
  src: url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.eot');
  src: url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2494042_5rmfglyw5mu.svg#iconfont') format('svg');
}

.ic {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-text-stroke-width: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-r {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.f-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frame {
  background-color: #fff;
  transform: translateX(100%) translateZ(0);
}

.frame.in {
  animation: frameIn .25s ease-out both;
}

.frame.out {
  animation: frameOut .25s ease-out both;
}

@keyframes frameIn {
  0% {
    transform: translateX(100%) translateZ(0);
  }
  100% {
    transform: translateX(0%) translateZ(0);
  }
}

@keyframes frameOut {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(100%) translateZ(0);
  }
}