@import './normalize.less';
@import './mixins.less';

// iconfont地址
// https://www.iconfont.cn/manage/index?spm=a313x.7781069.1998910419.16&manage_type=myprojects&projectId=2864554&keyword=&project_type=&page=
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2864554_4rriqtoo2ab.woff2?t=1634105435419') format('woff2'),
       url('//at.alicdn.com/t/font_2864554_4rriqtoo2ab.woff?t=1634105435419') format('woff'),
       url('//at.alicdn.com/t/font_2864554_4rriqtoo2ab.ttf?t=1634105435419') format('truetype');
}